<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <form class="" action="/addActivity" method="post">
  <input id="cityInput" readonly type="text" name="ActivityToAdd" value="<%= name %>">
  <p><%= des %></p>
  <button class="btn" type="submit">Submit</button>
    </form>

  </body>
</html>
