<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/UserLocking" method="GET">
    <input style=" border-top-style: hidden;  border-right-style: hidden; border-left-style: hidden;"type="text" name = "userEmail1" class="form-control col-lg-1" placeholder="" readonly value="<%= UserName %>">
    <h4> account is currently <%= todo %></h4>
    <p>Would you like to <%= todo1 %> it?</p>
    <button type="submit" name="button">Yes</button>
    </form>

  </body>
</html>
